:host {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

p {
  font-size: 1.5em;
  color: #D8BFD8;  /* Une teinte de violet assez claire pour le texte */
  background-color: #2a1f3d;  /* Un violet sombre pour le fond */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(104, 56, 123, 0.5);  /* Ombre avec une teinte violette */
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

p > span.instrument {
  color: #9351a6;  /* Violet moyen pour l'instrument */
}

p > span.note {
  color: #b084cc;  /* Violet plus clair pour la note */
}

p > span.alteration {
  color: #6b3e91;  /* Violet plus sombre pour l'altération */
}

p > span.octave {
  color: #7d58a9;  /* Violet intermédiaire pour l'octave */
}

