<div class="file-dropdown">
  <button class="dropbtn">Fichier</button>
  <div class="dropdown-content">
    <app-json-export></app-json-export>
    <app-import-json></app-import-json>
  </div>
</div>
<div class="container-app d-flex flex-column align-stretch">

  <div class="container-app-row d-flex flex-row">
    <app-arena-list></app-arena-list>

    <app-square class="square"
                [timerService]="this.timerService"
                [grid]="this.grid"
                [squareUnit]="this.squareUnit"
                [fps]="this.fps"
                [precisionMode]="this.precisionMode"
                [arena]="activeArena"></app-square>


    <div class="col-2 circles-list-container">
      <app-circle-list></app-circle-list>
    </div>
    <div class="col-3">
      <app-circle-characteristics-list></app-circle-characteristics-list>
    </div>
  </div>
  <div class="controls-container">
    <app-instruments-tab ngModel #instrumentsTab></app-instruments-tab>
    <app-notes-tab></app-notes-tab>
    <div class="controls-wrapper">
      <app-octave *ngIf="!instrumentsTab.percussion"></app-octave>
      <app-alteration *ngIf="!instrumentsTab.percussion"></app-alteration>
      <app-music *ngIf="!instrumentsTab.percussion"></app-music>
    </div>
    <app-percussion-tab *ngIf="instrumentsTab.percussion"></app-percussion-tab>
    <app-timer class="timer" [timerService]="this.timerService"></app-timer>
  </div>
</div>
