<div class="file-dropdown">
  <button class="dropbtn">Fichier</button>
  <div class="dropdown-content">
    <app-json-export [data]="circles" filename="circles.json"></app-json-export>
    <app-import-json></app-import-json>
  </div>
</div>
<div class="container-app d-flex flex-column align-stretch">

  <div class="container-app-row d-flex flex-row tempo">
    <div class="tempo">
      <app-arena-list></app-arena-list>
    </div>

    <app-square class="square tempo" [timerService]="this.timerService" [grid]="this.grid" [squareUnit]="this.squareUnit" [fps]="this.fps" [precisionMode]="this.precisionMode"></app-square>


    <div class="col-2 circles-list-container">
      <app-circle-list></app-circle-list>
    </div>
    <div class="col-2">
      <app-circle-characteristics-list></app-circle-characteristics-list>
    </div>
  </div>
  <div class="controls-container">
    <app-instruments-tab></app-instruments-tab>
    <app-notes-tab></app-notes-tab>
    <div class="controls-wrapper">
      <app-octave></app-octave>
      <app-alteration></app-alteration>
      <app-music></app-music>
    </div>
    <app-timer class="timer" [timerService]="this.timerService"></app-timer>
    <button (click)="clearAll()">Clear</button>
    <button (click)="resetGame()">Restore</button>

  </div>
</div>
