<div class="container mt-3"> <!-- Added margin-top for spacing from the top -->
  <h1 class="text-center mb-4">Shape Symphony</h1> <!-- Added text-center to center text -->
  <div class="row"> <!-- justify-content-center to center items -->

    <div class="col-2">
      <app-instruments-tab></app-instruments-tab>
      <app-notes-tab></app-notes-tab>
      <app-timer></app-timer>
    </div>

    <div class="col-6">
      <app-square></app-square>
    </div>

    <div class="col-2">
      <app-circle-list></app-circle-list>
    </div>

    <div class="col-2">
      <app-circle-characteristics-list></app-circle-characteristics-list>
    </div>
  </div>
</div>
