<div class="export-container">
  <button (click)="openTimeInputModal()">Sauvegarder en MP3</button>

  <!-- Popup Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3>Entrez le temps</h3>
      <input type="number" placeholder="123" [(ngModel)]="inputMinutes">
      <input type="number" placeholder="123" [(ngModel)]="inputSeconds">
      <button (click)="submitTime()">Valider</button>
    </div>
  </div>
</div>
