.square {
  position: relative;
  aspect-ratio: 1 / 1;
  height: calc(100% - 20px);
  box-shadow: 0 0 2px black;
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: auto;
  margin: auto;
  width: min-content;
}

.mousebox {
  font-size: 15px;
  font-weight: 700;
  color: whitesmoke;
  background-color: rgb(104, 104, 104);
  border: 2px solid black;
  position: fixed;
  padding: 0 5px;
  display: none;
  pointer-events: none;
}