<app-arena-option (onFPSChange)="onFPSChange($event)" (onModeChange)="onModeChange($event)"></app-arena-option>
<canvas class="square" tabindex="0" [width]="this.squareCanvasSize" [height]="this.squareCanvasSize" #square>
</canvas>
<div id="containerSquareElements"
(pointermove)="onSquareMouseMove($event)"
(pointerdown)="onSquarePointerDown($event)"
(mousedown)="onSquareMouseDown($event)"
(mouseup)="onSquareMouseUp($event)"
(pointerup)="onSquarePointerUp($event)" #containerSquareElements>
  <!-- Grille à l'intérieur du carré -->
  <div class="grid" [ngClass]="{'show' : this.grid}">
    <div class="horyzontal-grid" *ngFor="let _ of [].constructor(this.squareUnit-1); let i = index;" [ngStyle]="{'top' : ((100/this.squareUnit) *(i+1))+'%'}"></div>
    <div class="vertical-grid" *ngFor="let _ of [].constructor(this.squareUnit-1); let i = index;" [ngStyle]="{'left' : ((100/this.squareUnit) *(i+1))+'%'}"></div>
  </div>

  <!-- Prévisualisation des cercles -->
  <div class="previs" [style.width.%]="(getCircleSize()/this.squareUnit)*100" [style.height.%]="(getCircleSize()/this.squareUnit)*100"></div>

  <!-- Affichage des coordonnées de la souris -->
  <div class="mousebox" #mousebox>0;0</div>

  <!-- Icône flèche -->
  <div class="iconArrow" #arrow>
    <div class="arrow"></div>
  </div>
</div>

