.inputTime {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    column-gap: 20px;

    > input {
        flex: 1;
        width: 90px;
        padding: 10px 20px;
        background-color: #2a1f3d;
        border: none;
        border-radius: 12px;
        color: #fff;
        cursor: pointer;
        box-shadow: -3px -3px 7px #36284e, 3px 3px 7px #1e162c;
        transition: background-color 0.3s, box-shadow 0.3s;

        &:last-child {
            width: 100px;
        }
    }
}