<div class="inputTime">
    <input type="number" class="inputTime__input minutes" placeholder="00" (input)="onMinutesChange($event)" [disabled]="disable" [value]="minutes" />
    <input type="number" class="inputTime__input secondes" placeholder="00" (input)="onSecondesChange($event)" [disabled]="disable" [value]="secondes" />
    <input type="number" class="inputTime__input millisecondes" placeholder="000" (input)="onMillisecondesChange($event)" [disabled]="disable" [value]="millisecondes" />
</div>