<div *ngIf="selectedCircle" class="title p-2">
  <ul>
    <ng-container *ngIf="isTimerNotStarted()">
      <!-- Spinbox Angle -->
      <li>
        <div class="angle-container">
          <span>Angle:</span>
          <div class="spinbox-container">
            <input class="angle-spinbox" type="number" [(ngModel)]="newAngle" min="0" max="360">
            <button class="spinbox-button up" (click)="changeAngle(newAngle ?? 0 + 1)">▲</button>
            <button class="spinbox-button down" (click)="changeAngle(newAngle ?? 0 - 1)">▼</button>
          </div>
        </div>
      </li>

      <!-- Spinbox Position X de départ -->
      <li>
        <div class="startx-container">
          <span>Position X de départ:</span>
          <div class="spinbox-container">
            <input class="startx-spinbox" type="number" [(ngModel)]="newStartX">
            <button class="spinbox-button up" (click)="validateStartX(newStartX ?? 0 + 1)">▲</button>
            <button class="spinbox-button down" (click)="validateStartX(newStartX ?? 0 - 1)">▼</button>
          </div>
        </div>
      </li>

      <!-- Spinbox Position Y de départ -->
      <li>
        <div class="starty-container">
          <span>Position Y de départ:</span>
          <div class="spinbox-container">
            <input class="starty-spinbox" type="number" [(ngModel)]="newStartY">
            <button class="spinbox-button up" (click)="validateStartY(newStartY ?? 0 + 1)">▲</button>
            <button class="spinbox-button down" (click)="validateStartY(newStartY ?? 0 - 1)">▼</button>
          </div>
        </div>
      </li>

      <!-- Spinbox Vitesse -->
      <li>
        <div class="speed-container">
          <span>Vitesse:</span>
          <div class="spinbox-container">
            <input class="speed-spinbox" type="number" [(ngModel)]="vitesseGlobale" step="0.01">
            <button class="spinbox-button up" (click)="changeSpeed(vitesseGlobale ?? 0 + 0.01)">▲</button>
            <button class="spinbox-button down" (click)="changeSpeed(vitesseGlobale ?? 0 - 0.01)">▼</button>
          </div>
        </div>
      </li>

      <!-- Sélections des attributs -->
      <li>
        <span>Note:</span>
        <select [(ngModel)]="selectedNote" (change)="setNote(selectedNote)">
          <option *ngFor="let note of availableNotes" [value]="note">{{ note }}</option>
        </select>
      </li>
      <li>
        <span>Altération:</span>
        <select [(ngModel)]="selectedAlteration" (change)="setAlteration(selectedAlteration)">
          <option *ngFor="let alteration of availableAlterations" [value]="alteration">{{ alteration }}</option>
        </select>
      </li>
      <li>
        <span>Octave:</span>
        <select [(ngModel)]="selectedOctave" (change)="setOctave(selectedOctave)">
          <option *ngFor="let octave of availableOctaves" [value]="octave">{{ octave }}</option>
        </select>
      </li>
      <li>
        <span>Couleur:</span>
        <select [(ngModel)]="selectedColor" (change)="setColor(selectedColor)">
          <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
        </select>
      </li>
      <li>Nombre de rebonds max:
        <input type="number" [(ngModel)]="maxBounces" (change)="setMaxBounces(maxBounces)" step="1" min="0"/>
      </li>
    </ng-container>

    <!-- Affichage des valeurs lorsque le timer est lancé -->
    <ng-container *ngIf="!isTimerNotStarted()">
      <li>Angle: {{ newAngle }}</li>
      <li>Position de départ (x,y): ({{ newStartX }},{{newStartY}})</li>
      <li>Vitesse: {{ vitesseGlobale }}</li>
      <!-- Les mêmes sélecteurs que ci-dessus pour la cohérence -->
      <li>
        <span>Note:</span>
        <select [(ngModel)]="selectedNote">
          <option *ngFor="let note of availableNotes" [value]="note">{{ note }}</option>
        </select>
      </li>
      <li>
        <span>Altération:</span>
        <select [(ngModel)]="selectedAlteration">
          <option *ngFor="let alteration of availableAlterations" [value]="alteration" >{{ alteration }}</option>
        </select>
      </li>
      <li>
        <span>Octave:</span>
        <select [(ngModel)]="selectedOctave">
          <option *ngFor="let octave of availableOctaves" [value]="octave">{{ octave }}</option>
        </select>
      </li>
      <li>
        <span>Couleur:</span>
        <select [(ngModel)]="selectedColor">
          <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
        </select>
      </li>
      <li>Nombre de rebonds max: {{ maxBounces }}</li>
    </ng-container>
  </ul>
</div>
