ul {
  list-style-type: none; /* Removes bullet points */
  margin-left: -1rem;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajoutez une marge en bas pour séparer les éléments */
}

li input {
  margin-left: 1rem;
  width: 7rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: #2a1f3d;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: -3px -3px 7px #36284e, 3px 3px 7px #1e162c;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-right: 15px; /* Ajoutez une marge à droite pour chaque élément */
}

/* Supprimez la marge à droite pour le dernier <li> contenant un <input> de type nombre */
li:last-child input {
  margin-right: 0;
}

/* Style au survol du curseur */
li input:hover {
  box-shadow: -1px -1px 3px #36284e, 1px 1px 3px #1e162c;
}

/* Style pour un <input> de type nombre actif */
li input.active {
  background-color: #36284e;
  box-shadow: inset -1px -1px 3px #41305f, inset 1px 1px 3px #1e162c;
  color: white;
}

li select {
  margin-left: 1rem;
  width: 7rem;
  padding: 10px 20px;
  background-color: #2a1f3d;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: -3px -3px 7px #36284e, 3px 3px 7px #1e162c;
  transition: background-color 0.3s, box-shadow 0.3s;
}

li select:hover {
  box-shadow: -1px -1px 3px #36284e, 1px 1px 3px #1e162c;
}

li select:focus {
  outline: none;
  box-shadow: inset -1px -1px 3px #41305f, inset 1px 1px 3px #1e162c;
}

li select option {
  background-color: #2a1f3d;
  color: #fff;
}

.octave-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 22px;
  color: white; /* Changé la couleur du texte en blanc pour mieux contraster avec le fond sombre */
}

.octave-container span {
  margin-right: 10px;
  font-size: 18px; /* Augmenté la taille du texte pour une meilleure lisibilité */
}

.octave-spinbox {
  padding: 5px 10px;
  background-color: #2a1f3d;
  border: none;
  border-radius: 12px;
  color: white; /* Changé la couleur du texte en blanc */
  font-size: 18px;
  transition: box-shadow 0.3s;
  width: 60px;
  text-align: center;
  box-shadow: -3px -3px 7px #36284e, 3px 3px 7px #1e162c;
  appearance: textfield;
}

.octave-spinbox:hover {
  box-shadow: -1px -1px 3px #36284e, 1px 1px 3px #1e162c;
}

.octave-spinbox:focus {
  outline: none;
  box-shadow: inset -1px -1px 3px #41305f, inset 1px 1px 3px #1e162c;
}

.octave-spinbox::-moz-focus-inner {
  border: 0;
}

/* Pour Chrome */
.octave-spinbox::-webkit-inner-spin-button,
.octave-spinbox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.octave-spinbox {
  position: relative; /* Nécessaire pour positionner absolument les pseudo-éléments */
}

.octave-spinbox::-webkit-inner-spin-button,
.octave-spinbox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.octave-spinbox:-moz-spinner {
  -moz-appearance: textfield;
}

.spinbox-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.octave-spinbox {
  padding-right: 30px; /* adjust space for buttons */
}

.spinbox-button {
  position: absolute;
  right: 0;
  width: 20px;
  height: 15px;
  border: none;
  background-color: transparent;
  color: #B084CC;
  cursor: pointer;
  font-size: 12px;
}

.spinbox-button.up {
  top: 0;
}

.spinbox-button.down {
  bottom: 0;
}

.alteration-container {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-left: 20px;
  color: white;
}

.alteration-slider {
  width: 100%;
  margin: 10px 0;
  appearance: none;
  border-radius: 12px;
  background-color: #2a1f3d;
  box-shadow: -3px -3px 7px #36284e, 3px 3px 7px #1e162c;
}

.alteration-slider:hover,
.alteration-slider:focus {
  box-shadow: -1px -1px 3px #36284e, 1px 1px 3px #1e162c;
}

.alteration-slider::-webkit-slider-thumb {
  appearance: none;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #B084CC;
  box-shadow: -1px -1px 3px #41305f, 1px 1px 3px #1e162c;
}

.alteration-slider::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #36284e;
  box-shadow: -1px -1px 3px #41305f, 1px 1px 3px #1e162c;
}

.alteration-labels {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 2;
}

.alteration-labels span {
  width: 33%;
  text-align: center;
}

span {
  font-size: 1.2em;
  color: white; /* Changé la couleur du texte en blanc pour mieux contraster avec le fond sombre */
  margin-right: 10px;
}

.alteration-container {
  margin-top: 20px;
}

.scroll-container {
  height: 65vh;
  overflow-y: auto;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #36284e; /* Color of the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #2a1f3d; /* Color of the track */
}

/* For Firefox */
::-moz-scrollbar {
  width: 12px;
}

::-moz-scrollbar-thumb {
  background-color: #36284e; /* Color of the thumb */
  border-radius: 6px;
}

::-moz-scrollbar-track {
  background-color: #2a1f3d; /* Color of the track */
}
