.octave-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: white; /* Changé la couleur du texte en blanc pour mieux contraster avec le fond sombre */
}

.octave-container span {
  margin-right: 10px;
  font-size: 18px; /* Augmenté la taille du texte pour une meilleure lisibilité */
}

.octave-spinbox {
  padding: 5px 10px;
  background-color: #2a1f3d;
  border: none;
  border-radius: 12px;
  color: white; /* Changé la couleur du texte en blanc */
  font-size: 18px;
  transition: box-shadow 0.3s;
  width: 60px;
  text-align: center;
  box-shadow: -3px -3px 7px #36284e, 3px 3px 7px #1e162c;
  appearance: textfield;
}

.octave-spinbox:hover {
  box-shadow: -1px -1px 3px #36284e, 1px 1px 3px #1e162c;
}

.octave-spinbox:focus {
  outline: none;
  box-shadow: inset -1px -1px 3px #41305f, inset 1px 1px 3px #1e162c;
}

.octave-spinbox::-moz-focus-inner {
  border: 0;
}

/* Pour Chrome */
.octave-spinbox::-webkit-inner-spin-button,
.octave-spinbox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.octave-spinbox {
  position: relative; /* Nécessaire pour positionner absolument les pseudo-éléments */
}

.octave-spinbox::-webkit-inner-spin-button,
.octave-spinbox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.octave-spinbox:-moz-spinner {
  -moz-appearance: textfield;
}

.spinbox-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.octave-spinbox {
  padding-right: 30px; /* adjust space for buttons */
}

.spinbox-button {
  position: absolute;
  right: 0;
  width: 20px;
  height: 15px;
  border: none;
  background-color: transparent;
  color: #B084CC;
  cursor: pointer;
  font-size: 12px;
}

.spinbox-button.up {
  top: 0;
}

.spinbox-button.down {
  bottom: 0;
}



