.octave-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.octave-container span {
  margin-right: 10px;
  font-size: 16px;
}

.octave-spinbox {
  padding: 5px 10px;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 60px;
  text-align: center;
  appearance: textfield; /* This will make sure arrows are always shown on some browsers */

  /* For showing arrows in Chrome, Safari, Edge, and Opera */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: inner-spin-button;
    opacity: 1;  /* This makes sure that the arrows are always visible */
  }
}

.octave-spinbox:hover {
  background-color: #e1e1e1;
}

.octave-spinbox:focus {
  outline: none;
  border-color: #666;
}

/* Only remove the default outline for Firefox */
.octave-spinbox::-moz-focus-inner {
  border: 0;
}
