<div class="title">Liste des entités</div>
<app-json-export [data]="circlesList" filename="circles.json"></app-json-export>
<app-import-json></app-import-json>

<ul>
  <li *ngFor="let circle of circlesList" (click)="circleClicked(circle)"
      class="highlight-on-hover circle" [class.active]="isSelected(circle)">
    <span class="color-box" [style.background-color]="circle.color"></span>
    Circle {{circle.id}}
    <span class="cross ml-auto" (click)="deleteCircle(circle); $event.stopPropagation()">X</span>
  </li>
</ul>
