ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes the default padding on the left side */
}

li {
  margin: 0.2rem;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #000;  // Optional, to give it a border for visibility
  vertical-align: middle; /* Aligns the box vertically in line with the text */
}
.title {
  margin-left: 1rem;
}

.cross {
  cursor: pointer;      /* Make it look clickable */
  padding: 5px;         /* Add some padding for easier clicking */
  font-weight: bold;    /* Make the cross a bit bolder */
  color: #dc3545;       /* A red color similar to Bootstrap's .btn-danger */
  transition: color 0.3s ease; /* Optional: Smooth color transition on hover */
}

.cross:hover {
  color: #c82333;       /* A darker red for hover state */
}



