ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes the default padding on the left side */
}

li {
  margin: 0.2rem;
}
li.circle {
  display: flex;
  align-items: center;
  margin: 0.2rem;
}


.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.title {
  margin-left: 1rem;
}

.cross {
  cursor: pointer;      /* Make it look clickable */
  padding: 5px;         /* Add some padding for easier clicking */
  font-weight: bold;    /* Make the cross a bit bolder */
  color: #dc3545;       /* A red color similar to Bootstrap's .btn-danger */
  transition: color 0.3s ease; /* Optional: Smooth color transition on hover */
}

.cross:hover {
  color: #c82333;       /* A darker red for hover state */
}

.active {
  background-color: #aaa;
  color: white;
}

.entities-list {
  max-height: 600px; /* Hauteur maximale avant que le défilement ne soit activé */
  overflow-y: auto; /* Active le défilement vertical si le contenu dépasse max-height */
  /* ... autres styles nécessaires pour la liste ... */
}

/* Styliser la barre de défilement pour Chrome, Safari, etc. */
.entities-list::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

.entities-list::-webkit-scrollbar-track {
  background: #2a1f3d; /* Couleur de la piste de défilement */
}

.entities-list::-webkit-scrollbar-thumb {
  background: #4e426c; /* Couleur du curseur de défilement */
  border-radius: 5px; /* Bords arrondis pour le curseur de défilement */
}

.entities-list::-webkit-scrollbar-thumb:hover {
  background: #675a85; /* Couleur du curseur de défilement au survol */
}

/* Styliser la barre de défilement pour Firefox */
.entities-list {
  scrollbar-width: thin; /* "auto" ou "thin" */
  scrollbar-color: #4e426c #2a1f3d; /* Couleur du curseur et de la piste */
}
