body {
  font-family: Arial, sans-serif;
  background-color: #36284E;
}

#app-arena-list-inside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px;
  /* La hauteur maximale dépend de la taille de votre écran et du contenu total de la page */
  max-height: calc(100vh - 300px); /* Ajustez '100px' en fonction de l'espace d'en-tête ou d'autres contenus */
  overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
}


.add-arena-container {
  margin: 10px;
  text-align: center; /* Centrer le bouton d'ajout d'arène */
}

.arenas-container {
  margin: 20px;
  max-height: 600px; /* Hauteur maximale avant que le défilement ne soit activé */
  overflow-y: auto; /* Active le défilement vertical si le contenu dépasse max-height */
}

.arena-item {
  background-color: #2a1f3d;
  border-radius: 12px;
  margin: 7px 0; /* Espace vertical entre les éléments */
  padding: 10px;
  box-shadow: -5px -5px 10px #36284e, 5px 5px 10px #1e162c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arena-item.active {
  background-color: #4F295A; /* Choisissez la couleur de mise en évidence souhaitée */
  box-shadow: inset 0 0 10px #36284e; /* Optionnel: ajouter une ombre interne pour un effet enfoncé */
}

.arena-name-input {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-bottom: 0px;
  width: calc(100% - 50px);
  text-align: center;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px; /* Espace au-dessus des boutons */
}

.toggle-button, .icon-container, .toggle-button-add-arena, .toggle-button-upload-midi-file {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 7px;
  background-color: #2a1f3d;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  box-shadow: -5px -5px 10px #36284e, 5px 5px 10px #1e162c;
  transition: background-color 0.3s, box-shadow 0.3s;

  &.toggle-button-upload-midi-file {
    margin-top: 20px;
  }
}

.toggle-button:hover, .toggle-button-add-arena:hover, .toggle-button-upload-midi-file:hover {
  box-shadow: -2px -2px 5px #36284e, 2px 2px 5px #1e162c;
  background-color: #36284e;
}

.toggle-button.active, .icon-container.active {
  background-color: #36284e;
  box-shadow: inset -2px -2px 5px #41305f, inset 2px 2px 5px #1e162c;
}

.icon-container {
  fill: white; /* Pour s'assurer que les icônes sont visibles sur un fond sombre */
  margin-right: 5px;
}

.active-icon, .inactive-icon {
  fill: white; /* Couleur de l'icône */
}

.active-icon:hover, .inactive-icon:hover {
  transform: scale(1.1);
}

/* Styliser la barre de défilement pour Chrome, Safari, etc. */
.arenas-container::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

.arenas-container::-webkit-scrollbar-track {
  background: #2a1f3d; /* Couleur de la piste de défilement */
}

.arenas-container::-webkit-scrollbar-thumb {
  background: #4e426c; /* Couleur du curseur de défilement */
  border-radius: 5px; /* Bords arrondis pour le curseur de défilement */
}

.arenas-container::-webkit-scrollbar-thumb:hover {
  background: #675a85; /* Couleur du curseur de défilement au survol */
}

/* Styliser la barre de défilement pour Firefox */
.arenas-container {
  scrollbar-width: thin; /* "auto" ou "thin" */
  scrollbar-color: #4e426c #2a1f3d; /* Couleur du curseur et de la piste */
}

/* Styles pour la barre de défilement */
#app-arena-list-inside::-webkit-scrollbar {
  width: 12px;
}

#app-arena-list-inside::-webkit-scrollbar-track {
  background: #2a1f3d;
}

#app-arena-list-inside::-webkit-scrollbar-thumb {
  background: #4e426c;
  border-radius: 6px;
}

#app-arena-list-inside::-webkit-scrollbar-thumb:hover {
  background: #675a85;
}

/* Styles de la barre de défilement pour Firefox */
#app-arena-list-inside {
  scrollbar-width: thin;
  scrollbar-color: #4e426c #2a1f3d;
}
