<div id="app-arena-list">
  <div class="add-arena-container">
    <button class="toggle-button-add-arena" (click)="addArena()">
      <lucide-icon name="plus"></lucide-icon> Add arena
    </button>
  </div>
  <div *ngFor="let arena of arenaList" class="arena-item">
    <input type="text" [(ngModel)]="arena.name" class="arena-name-input"
           (blur)="setArenaName(arena.id, arena.name)" />
    <div class="button-container">
      <button class="toggle-button" (click)="clearActive()">
        <lucide-icon name="eraser"></lucide-icon>
      </button>
      <button class="toggle-button" (click)="deleteArena(arena.id)">
        <lucide-icon name="trash-2"></lucide-icon>
      </button>
      <button class="toggle-button" *ngIf="!arena.isMuted" (click)="muteArena(arena.id)">
        <lucide-icon name="volume-2"></lucide-icon>
      </button>
      <button class="toggle-button" *ngIf="arena.isMuted" (click)="unmuteArena(arena.id)">
        <lucide-icon name="volume-x"></lucide-icon>
      </button>
      <div class="icon-container" [class.active]="isActiveArena(arena.id)" (click)="setActiveArena(arena.id)">
        <lucide-icon *ngIf="isActiveArena(arena.id)" name="eye" class="active-icon"></lucide-icon>
        <lucide-icon *ngIf="!isActiveArena(arena.id)" name="eye-off" class="inactive-icon"></lucide-icon>
      </div>
    </div>
  </div>
</div>



