.circle {
  position: absolute;
  display: inline-block;
  width: 10%;
  height: 10%;
  border: 3px solid blue;
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
}